body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

header {
    background-color: rgb(56, 55, 55);
    color: white;
    padding: 15px;
    text-align: center;
}

.navLinks {
   list-style-type: none;
   padding: 0;
}

.navLinks li {
    display: inline-block;
    padding: 15px;
}

a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    /*text-align: center;*/
}

.container {
    display: flex;
}

.column {
    flex: 1;
    padding: 10px;
}

#chef {
    height: 100%;
    width: 100%;
    border: 2px solid;
}

#ingredients {
    float: left;
}

#butter-chicken {
    width: 200px;
    padding: 10px;
}

footer {
    background-color: rgb(56, 55, 55);
    color: white;
    text-align: center;
    padding: 10px;
    position: static;
    bottom : 0;
    width: 100%; /* Makes the footer span the full width */
}